// Colors
$brown: #564138;
$melon: #F6F5AE;
$fire: #F24236;

// Navigation colors
$nav-background: $brown;
$nav-text-color: #F5F749;

// Clock Variables
$clock-text-color: #ffffff;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2199e8;
